<h1>Cursos finalizados</h1>

<!-- courses table -->
<div class="card g-brd-purple rounded-0 g-mb-30">
  <h3 class="card-header g-bg-purple g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-2">
    <i class="fa fa-mortar-board g-mr-5"></i>
    Cursos registrados
  </h3>
  <div class="px-2 pb-1">
    <table id="courses-finished-table" class="table table-hover dt-responsive w-100 u-table--v1">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Curso</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Hora inicio</th>
          <th>Hora fin</th>
          <th>Instructor</th>
          <th>Nivel</th>
          <th>Modo</th>
          <th>Acciones</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
</div>
<!-- End courses table -->

<!-- Modal alta de course -->
<div class="modal fade" id="modal-course"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
</div>
<!-- End modal -->