<h1>Programas</h1>
<%= link_to 'Nuevo', new_program_path, {:remote => true, 'data-toggle' =>  "modal",
      'data-target' => '#modal-program', 'class' => 'btn btn-primary justify-content-end mb-2'} %>
<table id="programs-table" class="table hover dt-responsive w-100">
  <thead>
    <tr>
      <th>Codigo</th>
      <th>Nombre</th>
      <th>Certificado</th>
      <th>Acciones</th>
  </thead>
  <tbody>
  </tbody>
</table> 

<!-- Modal alta de program -->
<div class="modal fade" id="modal-program" role="dialog"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false">
</div>
<!-- End modal -->


<!-- Modal para eliminar program -->
<div class="modal fade" id="modal-disable-program" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de quitar programa ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          Tenga en cuenta que todos los registros asociados tambien seran dados de baja.
          <span data-toggle="collapse" href="#multiCollapseExample1" 
                role="button" aria-expanded="false" aria-controls="multiCollapseExample1"  
                class="badge badge-info">Leer mas...</span>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              Registros afectados:
              <ul>
                <li>datos asociados</li>
              </ul>
            </div>
        </div>
        <%= form_with(url: programs_disable_path, id: 'form-disable-program') %>
          <input type="hidden" id="program_id" name="program[id]" value="">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <button type="button" data-dismiss="modal" class="btn btn-info g-mr-10"> Cerrar </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar program -->



