<p><b>Nombre/Razon social: </b><%= "#{@company.name}" %></p> 
<p><b>CUIT: </b><%= @company.cuit %></p> 
<p><b>Email: </b><%= @company.email %></p> 

<button type="button" class="btn btn-info" data-dismiss="modal">Cerrar</button>

