<h1>Cursos</h1>
<%= link_to 'Generar certificado', new_certificate_path, {:remote => true, 'data-toggle' =>  "modal",
      'data-target' => '#modal-course', 'class' => 'btn u-btn-teal justify-content-end mb-2'} %>
<%= link_to 'Agregar curso', new_course_path, {:remote => true, 'data-toggle' =>  "modal",
      'data-target' => '#modal-course', 'class' => 'btn u-btn-primary justify-content-end mb-2 ml-4'} %>
<%= link_to 'Ver cursos finalizados', courses_finished_path, class: 'btn u-btn-cyan justify-content-end mb-2 ml-4' %>

<!-- courses table -->
<div class="card g-brd-blue rounded-0 g-mb-30">
  <h3 class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-2">
    <i class="fa fa-mortar-board g-mr-5"></i>
    Cursos registrados
  </h3>
  <div class="px-2 pb-1">
    <table id="courses-table" class="table table-hover dt-responsive w-100 u-table--v1">
      <thead>
        <tr>
          <th>Codigo</th>
          <th>Curso</th>
          <th>Inicio</th>
          <th>Fin</th>
          <th>Hora inicio</th>
          <th>Hora fin</th>
          <th>Instructor</th>
          <th>Nivel</th>
          <th>Modo</th>
          <th>Acciones</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
</div>
<!-- End courses table -->



<!-- Modal alta de course -->
<div class="modal fade" id="modal-course"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
</div>
<!-- End modal -->


<!-- Modal para eliminar course -->
<div class="modal fade" id="modal-disable-course" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de eliminar este curso ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="alert alert-danger" role="alert">
          Tenga en cuenta que todos los registros asociados tambien seran dados de baja.
          <span data-toggle="collapse" href="#multiCollapseExample1" 
                role="button" aria-expanded="false" aria-controls="multiCollapseExample1"  
                class="badge badge-info">Leer mas...</span>
            <div class="collapse multi-collapse" id="multiCollapseExample1">
              Registros afectados:
              <ul>
                <li>registros asociados</li>
              </ul>
            </div>
        </div>
        <%= form_with(url: courses_disable_path, id: 'form-disable-course') %>
          <input type="hidden" id="course_id" name="course[id]" value="">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <button type="button" data-dismiss="modal" class="btn btn-info g-mr-10"> Cerrar </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar course -->
