<h1>Certificados generados</h1>
<%= link_to 'Generar certificado', new_certificate_path, {:remote => true, 'data-toggle' =>  "modal",
      'data-target' => '#modal-course', 'class' => 'btn u-btn-teal justify-content-end mb-2'} %>
<!-- courses table -->
<div class="card g-brd-blue rounded-0 g-mb-30">
  <h3 class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-2">
    <i class="fa fa-mortar-board g-mr-5"></i>
    Certificados
  </h3>
  <div class="px-2 pb-1">
    <table id="certificates-table" class="table table-hover dt-responsive w-100 u-table--v1">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Alumno</th>
          <th>DNI</th>
          <th>Fecha fin curso</th>
          <th>Acciones</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
</div>
<!-- End courses table -->

<!-- Modal alta de course -->
<div class="modal fade" id="modal-course"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
</div>
<!-- End modal -->

<!-- Modal para eliminar certificate -->
<div class="modal fade" id="modal-disable-certificate" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">¿ Esta seguro de eliminar a la empresa ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <%= form_with(url: certificates_disable_path, id: 'form-disable-certificate') %>
          <input type="hidden" id="certificate_id" name="certificate[id]" value="">
          <button type="submit" class="btn btn-danger">Eliminar</button>
          <button type="button" data-dismiss="modal" class="btn btn-info g-mr-10"> Cerrar </button>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Fin modal eliminar certificate -->