<h1>Certificados generados</h1>
<%= link_to 'Generar certificado', new_certificate_path, {:remote => true, 'data-toggle' =>  "modal",
      'data-target' => '#modal-course', 'class' => 'btn u-btn-teal justify-content-end mb-2'} %>
<!-- courses table -->
<div class="card g-brd-blue rounded-0 g-mb-30">
  <h3 class="card-header g-bg-blue g-brd-transparent g-color-white g-font-size-16 rounded-0 mb-2">
    <i class="fa fa-mortar-board g-mr-5"></i>
    Certificados
  </h3>
  <div class="px-2 pb-1">
    <table id="certificates-table" class="table table-hover dt-responsive w-100 u-table--v1">
      <thead>
        <tr>
          <th>Curso</th>
          <th>Alumno</th>
          <th>Fecha fin curso</th>
          <th>Acciones</th>
      </thead>
      <tbody>
      </tbody>
    </table>
  </div> 
</div>
<!-- End courses table -->

<!-- Modal alta de course -->
<div class="modal fade" id="modal-course"
     aria-labelledby="exampleModalLabel" aria-hidden="true" data-backdrop="static" data-keyboard="false" >
</div>
<!-- End modal -->